.container {
  display: flex;
  flex-wrap: wrap;
  margin: auto 0;
  width: 80em;
  margin-bottom: auto;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content:center;
}

.btn-blue {
  background-color: #FFD447;
  margin-right: 5px;
  border: solid #2C5784;
  padding: 5px;
  border-radius: 5px;
}

.btn-blue a {
  color:#6A2E35;
  text-decoration: none;
}

.btn-red {
  background-color: #6A2E35;
  margin-right: 5px;
  border: solid #2C5784;
  padding: 5px;
  border-radius: 5px;
}

.btn-red a {
  color: #FFD447;
  text-decoration: none;
}

.card {
  text-align: center;
  width: 300px;
  border-radius: 5px;
  padding: 10px;
  background-color: #D8DDEF;
  color: #2C5784;
  margin: 10px;
}

a{
  color: #2C5784;
}

.btn-green {
  background-color: #85FF9E;
  color: #2C5784;
  border-radius: 5px;
  margin: 10px;
  width: 990px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

.btn-green a {
  background-color: #85FF9E;
  color: #2C5784;
  border-radius: 5px;
  margin: 10px;
  width: cover;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
}

.btn-green:hover {
  color: #85FF9E;
  background-color:#2C5784 ;
}
